h2 {
    color: #00adef;
}

h3 {
    color: #00adef;
}

h5, h5 a {
    color: #ef4036;
}

h5 a:hover {
        color: #00adef;
    }

h6 {
    color: #00adef;
}

a {
    color: #00adef;
}

    a:hover, p.product-name:hover {
        color: #00adef;
    }

 .grid-price, p.product-price, .big-price {
    color: #8CC63E;
}

    .navbar-toggle {
    background-color: #00658b;
}

    .dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-color: #8CC63E;
    color: #FFFFFF;
    text-decoration: none;
}

    .btn-default, .k-button {
    color: #333;
    background-color: #d7d7d7;
    background-image: none;

}

.btn-default:hover{
    color: #333;
    background-color: #aaa9a9;}


.btn-primary {
    color: #fff;
    background-color: #8CC63E;}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #69a11d;}

.btn-primary .btn-sm {
    color: #fff;
    background-color: #8CC63E;}

.btn-primary .btn-sm:hover{
    color: #fff;
    background-color: #69a11d;}

.btn-success {
    color: #8CC63E;
    background-color: transparent;}

.btn-success:hover {
    color: #8CC63E;
    background-color: transparent;}

.btn-link, .k-grid .k-button-nbkg {
    color: #00adef;
    background-color: transparent;}


.btn-link:hover {
    color: #00adef;
    text-decoration: none;}

.btn-danger {
    color: #333;
    background-color: #d7d7d7;}

.btn-danger:hover{
    color: #333;
    background-color: #aaa9a9;}

.header-bottom, .mobiletitle 
{
    background: #00adef;
}

  .mobile-nav li.search-box input {
        border: 3px solid #00adef;
    }


.k-menu .k-state-default:hover, .k-menu .k-state-active, .k-menu.k-state-active:hover, #menu a:hover, #menu a.active, #menu a.active:hover
{
background-color: #8CC63E;
    background: #8CC63E;
    color: #FFF;
}

.k-treeview .k-item span.k-in:hover, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color, .k-state-focused.k-state-selected {
    background-color: #8CC63E;
    background: #8CC63E;
    border: solid 1px #8CC63E;
    color: #FFF;
}

.k-state-selected, .k-list > .k-state-selected {
   border-color: #8CC63E;
    background-color: #8CC63E;
    background-image: none;
}

.k-state-hover > .k-link {
    background: #00ADEF;
    color: #FFF;
}

.k-list > .k-state-selected {
    color: #ffffff;
    background-color: #00ADEF;
    border-color: #00ADEF;
}

.gt-accordion > h4.accordion.active {
    background: #8CC63E;
    color: #fff;
}

.gt-accordion > h4.accordion, .group-heading, .cart-information {
    background: #00adef;
    color: #fff;
}


input[type="checkbox"]:not(.bootstrap-toggle):checked + label:before {
    content: "\f14a";
    color: #8CC63E;
}

.search-grid {
    border-top: 5px solid #8CC63E;
}
.border-container {
    border-left: 5px solid #8CC63E;
}


.search-grid-btn {
    background: #00adef;
    color: #FFFFFF;
}

.search-grid-btn:hover, .view-product h3:hover {
    background: #8CC63E;
    color: #FFFFFF;
}