<script id="_cartDimensionTemplate" type="text/x-kendo-tmpl">
    <div class='col-md-12'>
        <div class='col-md-6'>
            <b>Width</b>
        </div>
        <div class='col-md-6'>${kendo.toString(Width,'n0')} px</div>
        <div class='col-md-6'>
            <b>Height</b>
        </div>
        <div class='col-md-6'>${kendo.toString(Height,'n0')} px</div>
        <div class='col-md-6'>
            <b>DPI</b>
        </div>
        <div class='col-md-6'>${Dpi}</div>
    </div>

</script>
