<script type="text/x-kendo-template" id="_MailingListLeadsPleaseTemplate">
    <div class="row">
        <h1 class="style1">Select your demographics for <i>${Name}</i></h1>
        <div id="_mailingListLeadsPleaseWrapper" class="col-sm-12 padr20">
            <div id="leadsPleaseWidget">

            </div>
            <p>
                <a href="http://www.leadsplease.com" target="new">Mailing Lists by LeadsPlease</a>
            </p>
        </div>
    </div>
</script>
<script type="text/javascript" src="//www.leadsplease.com/lp_widget_1.5.js"></script>
<style>
    td {
        vertical-align: middle;
    }

    .lpw #maintabs #pnlMailingLists h2 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    h1 {
        color: #333;
        font-size: 26px;
    }
</style>