<script type="text/x-kendo-template" id="_MailingListExistingTemplate">
    <div class="container">
        <div class="row">
            <h1>~{SelectListFor}~ <i>${Name}</i></h1>
            <div class="col-md-12 nopadding">
                <p class="padu10"><i>~{DoubleClickSelectExistingList}~</i></p>
            </div>
            <div class="col-md-12 maru20 bottommargin">
                <div id="_mailingListExistingWrapper"></div>
            </div>
            <!--<div class="col-sm-3">
                <div class="summary-information">
                    <h2 class="text-center list-name">Selected a List</h2>
                </div>
                <div class="summary-information maru10">
                    <h3 class="text-center">Current Record Count</h3>
                    <div class="text-center">
                        <div><b class="big-txt record-count"></b></div>
                    </div>
                </div>
                <div class="summary-information maru10">
                    <div class="row">
                        <h3 class="padu5 col-md-8">Records Needed</h3>
                        <div class="col-md-4"><input class="textr" type="text" id="records-needed" maxlength="6" value="0" /></div>
                        $1$<div class="padu5 col-md-2"><a class=""><i class="fa fa-repeat"></i></a></div>#1#
                    </div>
                </div>
                $1$<div class="summary-information maru10">
            <div class="floatl">
                <h3 class="floatl padr10 padu5">List Name</h3>
                <div class="floatl"><input type="text" style="width: 160px;" maxlength="20" value="Austin Thanksgiving" /></div>
            </div>
        </div>#1#
            </div>-->
<!--
            <div class="col-md-6 pull-right padu20 padb20">
                <div class="col-sm-6 padr20">
                    <div class="summary-information">
                        <h2 class="text-center list-name">Selected a List</h2>
                    </div>
                    <div class="summary-information maru10">
                        <h3 class="text-center">Current Record Count</h3>
                        <div class="text-center">
                            <div><b class="big-txt record-count"></b></div>
                        </div>
                    </div>
                    <div class="summary-information maru10">
                        <div class="row">
                            <h3 class="padu5 col-md-8">Records Needed</h3>
                            <div class="col-md-4"><input class="textr" type="text" id="records-needed" maxlength="6" value="0" /></div>
                            $1$<div class="padu5 col-md-2"><a class=""><i class="fa fa-repeat"></i></a></div>#1#
                        </div>
                    </div>
                    $1$<div class="summary-information maru10">
                        <div class="floatl">
                            <h3 class="floatl padr10 padu5">List Name</h3>
                            <div class="floatl"><input type="text" style="width: 160px;" maxlength="20" value="Austin Thanksgiving" /></div>
                        </div>
                    </div>#1#
                </div>
                <div class="col-sm-6 padr20">
                    <div class="summary-information">
                        <h3> Mailing Method</h3>
                        <div>
                            <div>
                                <input style="margin-right:10px;" type="radio" name="method" id="myRadioa" checked value="eDelivery" />
                                <label for="myRadioa">First Class ($0.26)    </label>
                            </div>
                            <div>
                                <input style="margin-right:10px;" type="radio" name="method" id="myRadiob" value="eDelivery" />
                                <label for="myRadiob">Presorted First Class ($0.58)    </label>
                            </div>
                        </div>
                    </div>
                    <div class="summary-information maru10">
                        <h3>Estimated Cost</h3>
                        <div class="table-responsive grid_info bkg-white maru10">
                            <table class="admin table">
                                <thead>
                                    <tr class="grid_menu">
                                        <td class="textl">Item</td>
                                        <td class="textr">Count</td>
                                        <td class="textr">Price</td>
                                        <td class="textr">Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="textl">Postcard</td>
                                        <td class="textr">58</td>
                                        <td class="textr">$0.18</td>
                                        <td class="textr">$10.44</td>
                                    </tr>
                                    <tr>
                                        <td class="textl">Est. Postage</td>
                                        <td class="textr">58</td>
                                        <td class="textr">$0.58</td>
                                        <td class="textr">$33.64</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="padu20">
                            <div class="floatl bundles-total-price">TOTAL</div>
                            <div class="floatr bundles-total-price">$44.80</div>
                        </div>
                    </div>
                    <div class="padu10">
                        <a href="cart.html" class="btn btn-primary w100">Checkout</a>
                    </div>
                </div>


            </div>-->
        </div>
    </div>
</script>