<div id="_ViewingRights" class="hide">
    <div id="_ViewingRightsModal" class="fancywidth">
        <h3 id="_ViewingRightsTitle" class="text-center w100"></h3>
        <p class="text-center small_txt">
            ~{ViewingRights}~
        </p>
        <br />
        <div class="row">
            <div class="text-center" id="_UserGroups" style="display:none">
                <h4 class="text-center">
                    ~{UserGroups}~
                </h4>
                <div id="_UserGroupsList"></div>
                <br/>
            </div>
            <div class="text-center" id="_InclusionTags" style="display:none">
                <h4 class="text-center">
                    ~{InclusionTags}~
                </h4>
                <div id="_InclusionTagsList"></div>
                <br/>
            </div>
            <div class="text-center" id="_ExclusionTags" style="display:none">
                <h4 class="text-center">
                    ~{ExclusionTags}~
                </h4>
                <div id="_ExclusionTagsList"></div>
            </div>
        </div>
    </div>
</div>
