<div class="acc_content clearfix">
    <div class="nobottommargin">
        <div class="col_full">
            <h3>Email Sent</h3>
            <div class="col_full padt10">
                Please check your inbox for your password reset instructions.
            </div>
        </div>
    </div>
</div> 
